<section class="work container">
  <div class="work-left">
    <h2>My work</h2>
    <p>
      Duis nisi do exercitation in irure aliqua commodo nisi eu id<br>reprehenderit dolore fugiat consectetur irure
    </p>
  </div>
  <div class="work-right">
    <div class="work-item">
      <img src="assets/images/work1.jpg" alt="Иконка работы">
      <div class="work-info">
        <span>Consectetur · (2016 - 2017)</span>
        <h4>Graphic design</h4>
        <p>Nostrud tempor cillum sunt excepteur do ut proident deserunt</p>
      </div>
    </div>
    <div class="work-item">
      <img src="assets/images/work2.jpg" alt="Иконка работы">
      <div class="work-info">
        <span>Bibendum · (2017 - 2020)</span>
        <h4>Photographer</h4>
        <p>Ad do dolore cillum dolor et ex non dolor qui.</p>
      </div>
    </div>
    <div class="work-item">
      <img src="assets/images/work3.jpg" alt="Иконка работы">
      <div class="work-info">
        <span>Adipiscing · (2020 - 2022)</span>
        <h4>Photographer's Assistant</h4>
        <p>Ad do dolore cillum dolor et ex non dolor qui.</p>
      </div>
    </div>
  </div>
</section>
