<section class="hobby container">
  <h2>Hobby projects</h2>
  <div class="hobby-grid-container">
    <div class="hobby-item">
      <img src="assets/images/Hobby1.jpg" alt="Hobby">
      <div class="hobby-overlay">
        <h4>Hobby project name</h4>
        <p>
          Duis nisi do exercitation in irure aliqua commodo nisi eu id
          reprehenderit dolore fugiat consectetur irure labore est ea.
        </p>
      </div>
    </div>
    <div class="hobby-item">
      <img src="assets/images/Hobby2.jpg" alt="Hobby">
      <div class="hobby-overlay">
        <h4>Hobby project name</h4>
        <p>
          Duis nisi do exercitation in irure aliqua commodo nisi eu id
          reprehenderit dolore fugiat consectetur irure labore est ea.
        </p>
      </div>
    </div>
    <div class="hobby-item">
      <img src="assets/images/Selection.jpg" alt="Hobby">
      <div class="hobby-overlay">
        <h4>Hobby project name</h4>
        <p>
          Duis nisi do exercitation in irure aliqua commodo nisi eu id
          reprehenderit dolore fugiat consectetur irure labore est ea.
        </p>
      </div>
    </div>
    <div class="hobby-item">
      <img src="assets/images/Selection.jpg" alt="Hobby">
      <div class="hobby-overlay">
        <h4>Hobby project name</h4>
        <p>
          Duis nisi do exercitation in irure aliqua commodo nisi eu id
          reprehenderit dolore fugiat consectetur irure labore est ea.
        </p>
      </div>
    </div>
  </div>
</section>
