.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 400;
  transition: all 0.3s ease;
}
.menu a:hover {
  color: var(--color-accent-green);
  font-weight: 700;
}
.menu a.active {
  font-weight: 700;
  color: var(--color-accent-green);
}