<footer id="contact" class="footer">
  <div class="container footer-grid">
    <div class="footer-left">
      <h2>Say hello and let's <br> work together !</h2>
      <p class="email">
        <a href="mailto:liza@creativeblog.ru">liza@creativeblog.ru</a>
      </p>
      <p>Телефон: +7 (999) 123-45-67</p>
      <img src="assets/images/contacts.jpg" alt="Контакты">
      <p>© 2026 Brand, Inc</p>
    </div>
    <form class="form">
      <label>Email</label>
      <input type="email" placeholder="Your email address">
      <label>Input your message</label>
      <textarea placeholder="Describe your project"></textarea>
      <button class="btn">Submit</button>
    </form>
  </div>
</footer>
