<section class="posts container">
  <div class="post">
    <div class="post-text">
      <span class="category product">Product photography</span>
      <h3>Paris secrets</h3>
      <p>
        Sint occaecat deserunt aliquip do occaecat ut quis.<br>
        Cupidatat magna fugiat quis sit duis est in volup
      </p>
    </div>
    <img src="assets/images/Selection.jpg" alt="Иконка">
  </div>
  <div class="post green">
    <div class="post-text">
      <span class="category portrait">Portrait</span>
      <h3>Oceanic feeling</h3>
      <p>
        Sint occaecat deserunt aliquip do occaecat ut quis.<br>
        Cupidatat magna fugiat quis sit duis est in volup
      </p>
    </div>
    <img src="assets/images/Selection.jpg" alt="Иконка">
  </div>
  <button class="btn">Browse all posts</button>
</section>
